@model BusinessEntities.LoginViewModel
@{
    ViewData["Title"] = "Signup";
}
@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotnetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-4">
            <div class="card my-5 shadow" style="border-radius:25px;">
                <div class="card-body p-5">
                    <h1>Signup</h1>

                    <div class="row">
                        <div class="col-md-12">
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Emailid"></label>
                                    <input asp-for="Emailid" class="form-control" />
                                    <span asp-validation-for="Emailid" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>


                                @*<div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                                    </div>

                                </div>*@
                                <button type="submit" class="btn-primary">SIGNUP</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
