USE [master]
GO
/****** Object:  Database [DB_HMS]    Script Date: 11-01-2021 19:08:59 ******/
CREATE DATABASE [DB_HMS] ON  PRIMARY 
( NAME = N'DB_HMS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DB_HMS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_HMS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DB_HMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_HMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_HMS]
GO
/****** Object:  Table [dbo].[tbl_Bookings]    Script Date: 11-01-2021 19:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Bookings](
	[bID] [int] IDENTITY(1,1) NOT NULL,
	[bDate] [datetime] NOT NULL,
	[bStatus] [nvarchar](50) NOT NULL,
	[rID] [int] NULL,
 CONSTRAINT [PK__tbl_Book__DE99891F060DEAE8] PRIMARY KEY CLUSTERED 
(
	[bID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Hotels]    Script Date: 11-01-2021 19:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Hotels](
	[hID] [int] IDENTITY(1,1) NOT NULL,
	[hName] [nvarchar](50) NOT NULL,
	[hAddress] [nvarchar](50) NOT NULL,
	[hCity] [nvarchar](50) NOT NULL,
	[hPincode] [int] NOT NULL,
	[hContactNumber] [nvarchar](50) NOT NULL,
	[hContactPerson] [nvarchar](50) NOT NULL,
	[hWebsite] [nvarchar](50) NOT NULL,
	[hFacebook] [nvarchar](50) NOT NULL,
	[hTwitter] [nvarchar](50) NOT NULL,
	[hIsActive] [bit] NOT NULL,
	[hCreatedDate] [datetime] NOT NULL,
	[hCreatedBy] [nvarchar](50) NOT NULL,
	[hUpdatedDate] [datetime] NOT NULL,
	[hUpdatedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Hotels] PRIMARY KEY CLUSTERED 
(
	[hID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Rooms]    Script Date: 11-01-2021 19:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Rooms](
	[rID] [int] IDENTITY(1,1) NOT NULL,
	[rName] [nvarchar](50) NOT NULL,
	[rCategory] [nvarchar](50) NOT NULL,
	[rPrice] [float] NOT NULL,
	[rIsActive] [bit] NOT NULL,
	[rCreatedDate] [datetime] NOT NULL,
	[rCreatedBy] [nvarchar](50) NOT NULL,
	[rUpdatedDate] [datetime] NOT NULL,
	[rUpdatedBy] [nvarchar](50) NOT NULL,
	[hID] [int] NULL,
 CONSTRAINT [PK__tbl_Room__C2BEC910014935CB] PRIMARY KEY CLUSTERED 
(
	[rID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Bookings]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Booking__rID__07F6335A] FOREIGN KEY([rID])
REFERENCES [dbo].[tbl_Rooms] ([rID])
GO
ALTER TABLE [dbo].[tbl_Bookings] CHECK CONSTRAINT [FK__tbl_Booking__rID__07F6335A]
GO
ALTER TABLE [dbo].[tbl_Rooms]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Rooms__hID__03317E3D] FOREIGN KEY([hID])
REFERENCES [dbo].[tbl_Hotels] ([hID])
GO
ALTER TABLE [dbo].[tbl_Rooms] CHECK CONSTRAINT [FK__tbl_Rooms__hID__03317E3D]
GO
USE [master]
GO
