@model BusinessEntities.EmployeeViewModel

@{
    ViewData["Title"] = "AddEmployee";
}


<div class="container">
    <div class="jumbotron">
        <h3 style="text-align:center;">Add Employee</h3>
        <hr />
        <form asp-action="AddEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                @Html.DropDownList("Department", new List<SelectListItem>
                   {
                       new SelectListItem{Text = "--Select--", Value = "--Select--", Selected = true},
                       new SelectListItem{Text = "Sales", Value = "Sales"},
                       new SelectListItem{Text = "Production", Value = "Production"},
                       new SelectListItem{Text = "Development", Value = "Development"},
                       new SelectListItem{Text = "HR", Value = "HR"},
                       new SelectListItem{Text = "Administration", Value = "Administration"},
                   }, new { @class = "form-control" })
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" placeholder="Enter Salary" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsManager" />
                    @Html.DisplayNameFor(model => model.IsManager)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Manager" class="control-label"></label>
                @Html.DropDownList("Manager", new List<SelectListItem>
                   {
                       new SelectListItem{Text = "--Select--", Value = "--Select--", Selected = true},
                       new SelectListItem{Text = "--", Value = "--"},
                       new SelectListItem{Text = "Sales Manager", Value = "Sales Manager"},
                       new SelectListItem{Text = "Production Manager", Value = "Production Manager"},
                       new SelectListItem{Text = "Development Manager", Value = "Development Manager"},
                       new SelectListItem{Text = "HR Manager", Value = "HR Manager"},
                       new SelectListItem{Text = "Asset Manager", Value = "Asset Manager"},
                   }, new { @class = "form-control" })
                <span asp-validation-for="Manager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" placeholder="Enter Phone" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:55%;">
                <input type="submit" value="SUBMIT" class="btn btn-success" style="color:white;" />
            </div>
            <div class="form-group" style="margin-left:55%;">
                <a class="btn btn-outline-warning" asp-action="Index"><i class="fa fa-arrow-left"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
