
<div style="background-color:antiquewhite; font-family:monospace; font-size:40px; margin-top:30%; color:black;text-align:center;">
    @if (User.Identity.IsAuthenticated)
    {
      <h3> Welcome @User.Identity.Name</h3>;
    }
</div>
