body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Styles form Validations*/
.field-validation-error {
    color: #e63946;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e63946;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

input, textarea {
    display: block;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.button {
    border: 1px solid #fff;
    outline: none;
    border-radius: 0;
    padding: 10px 10px;
    font-weight: 400;
    background: #2a3843;
    color: #fff;
    -webkit-appearance: none;
}

    .button:hover, button:focus {
        color: #fff !important;
    }

.form-body {
    background: #1d3557;
    padding: 20px 40px;
    max-width: 600px;
    box-shadow: 0 4px 10px 4px #457b9d;
}



label {
    color: #fff;
    font-size: 22px;
}

.form-body input, textarea {
    font-size: 20px;
    color: white;
}

.textarea: focus, input:focus {
    outline: none;
}

.add-new {
    background-color: #1ab188;
}

.edit {
   background-size :auto;
   
    
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #023e8a;
}
